footer {
    padding: 10px;
}

.about {
    line-height: 25px;
    width: 300px;
    text-align: left;
    padding: 10px;
    margin: 0;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.copyrights a {
    text-decoration: underline;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.underline:hover,
.underline:focus,
.underline:focus-within {
    text-decoration: none;
}

.noLine:hover,
.noLine:focus,
.noLine:focus-within {
    text-decoration: underline;
}